    <div>
        <div class="formDiv">
        <p class="heading">ENTRAR</p>
        <!-- <form class="formLogin" #formLogin="ngForm" (ngSubmit)="submit()" [formGroup]="formLogin" > -->
        <form class="formLogin" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <p class="label">Email:</p>
            <input type="email" name="txtEmail" id="txtEmail" formControlName="userEmail" placeholder="email@email.com"/>
    
            <button type="submit">Entrar</button>
        </form>
        <a href="signup">Criar conta</a>
        </div>
    </div>