<div>
    <div class="formDiv signupDiv">
      <p class="heading">Cadastrar</p>
      <form action="" class="formSignup">
        <p class="label">Nome:</p>
        <input type="text" name="txtName" id="txtName" />

        <p class="label">CPF:</p>
        <input type="text" name="txtCPF" id="txtCPF" />

        <p class="label">Endereço:</p>
        <input type="text" name="txtAddress" id="txtAddress" />

        <p class="label">Telefone:</p>
        <input type="text" name="txtPhone" id="txtPhone" />

        <p class="label">Email:</p>
        <input type="email" name="txtEmail" id="txtEmail" />

        <p class="label">Data de nascimento:</p>
        <input type="date" name="txtBirth" id="txtBirth" />

        <p class="label">Usuario:</p>
        <input type="radio" name="User" id="UserA" value="Admin" />
        <label> Admin </label>

        <input type="radio" name="User" id="UserN" value="Normal" />
        <label> Comum </label>

        <p class="label">Sexo:</p>
        <input type="radio" name="Sex" id="SexF" value="Fem" />
        <label> Fem </label>
        <input type="radio" name="Sex" id="SexM" value="Masc" />
        <label> Masc</label>
        <br />
        <button type="submit">Entrar</button>
      </form>
      <a href="">Logar conta</a>
    </div>
  </div>